name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install and Build
        # Cambiamos 'npm ci' por 'npm install' para evitar el error EUSAGE
        run: npm install && npm run build
        env:
          VITE_API_KEY: ${{ secrets.VITE_API_KEY }}
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          # Corregido: Usamos el nombre exacto que tienes en GitHub
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          channelId: live
          projectId: gen-lang-client-0787100173
